ComProtocoles/bin/*
MainSystem/bin/*
MainSystem/build/*
PingPongT/build/*
*.project
*.classpath
ComProtocoles/src/Poll/PollClientWithSeq.java
ComProtocoles/src/Poll/PollServerWithSeq.java
MainSystem/lib/apache-ignite-1.5.0-b1-src/*
MainSystem/lib/gridgrain/*
MainSystem/lib/gridgrain_installation_tutorial.txt
MainSystem/lib/apache-ignite-1.5.0-b1-src.zip
ComProtocols/*
*/nbproject/*
*.mf
*.xml
*/.settings/*